@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  scroll-behavior: smooth;
}

body {
  background: #001f3f;
  color: white;
  font-family: "Open Sans", sans-serif;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
}

img {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.content {
  justify-self: center;
}

h1 {
  width: 100vw;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
}

.search {
  align-items: center;
  background: 001f3f;
  width: max-content;
  min-height: 20vh;
  height: max-content;
}
.field {
  width: 100vw;
  display: flex;
  flex-direction: column;
  display: flex;
  height: 100px;
  align-items: center;
  margin-top: 2em;
}
button {
  margin-top: 1em;
  font-family: "Open Sans";
  font-weight: bold;
  height: 40px;
  width: 5em;
}
.input {
  height: 30px;
  width: 80vw;
  max-width: 400px;
  padding: 2px 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

footer {
  bottom: 0;
  left: 48vw;
  display: flex;
  height: 10vh;
}
.footer {
  margin: auto;
  color: #001f3f;
  margin-bottom: 40px;
}

.root {
  display: grid;
}

.aclass {
  background: lightblue;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.btn {
  background: lightblue;
  border-radius: 10px;
  border-style: solid;
  width: 120px;
}

.btn:hover {
  background: lightgreen;
  border-radius: 10px;
  border-style: solid;
}
.buttondiv {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

input {
  color: black;
  text-align: center;
  margin-top: 3em;
}
#text {
  font-weight: bold;
  padding: 8px;
  background: lightskyblue;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  width: 80vw;
  max-width: 400px;
}

i {
  margin-right: 5px;
}

#header {
  display: flex;
  background: lightseagreen;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-ul-list {
  display: flex;
  justify-content: space-around;
  width: 200px;
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;
  border-color: lightcyan;
  overflow: hidden;
  padding: 3px 6px 3px 6px;
  background: #505160;
  margin: 10px auto;
}
.nav-link {
  list-style: none;
  color: none;
  margin: 0;
  padding: 0;
}
.nav-bar {
  padding: 10px auto;
  width: 100vw;
  position: fixed;
  top: 0;
  background: #505160;
}

a {
  text-decoration: none;
  color: white;
}
